@import "tailwindcss";
@plugin "daisyui" {
  themes:
    corporate --default,
    forest --prefersdark;
}

@theme {
  --animate-star-movement-bottom: star-movement-bottom linear infinite alternate;
  --animate-star-movement-top: star-movement-top linear infinite alternate;
  --animate-shine: shine linear infinite;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}

* {
  scroll-behavior: smooth;
}

.divider {
  --divider-color: var(--color-teal-800);
}

.dg-scroll-lock {
  overflow: hidden;
}
